.active {
  background-color: red;
}
.menu {
  background-color: #e7e6e4;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu-right a {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .logo-name {
    left: -9.51%;
    right: -23.94%;
    top: 6.82%;
    bottom: 36.36%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #6d2e46;
  }

  .logo-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #6d2e46;
  }
  .menu-left {
    margin-left: 154px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .menu-right {
    padding-right: 149px;
  }
}
@media only screen and (max-width: 425px) {
  .logo-name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6d2e46;
    text-align: start;
  }

  .logo-title {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #6d2e46;
  }
  .menu-left {
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .menu-right {
    padding-right: 149px;
  }
}
