.active {
  background-color: red;
}

.logo-name {
  /* position: absolute; */
  left: -9.51%;
  right: -23.94%;
  top: 6.82%;
  bottom: 36.36%;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  /* line-height: 16px; */
  /* or 57% */

  /* letter-spacing: 2px; */

  /* Primary Color */
  /* margin-left: 127px; */
  color: #6d2e46;
}

.logo-title {
  /* position: absolute; */
  /* left: 12.32%;
  right: 13.73%;
  top: 63.64%;
  bottom: 0%; */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 2px;

  /* Primary Color */
  /* margin-left: 189px; */
  color: #6d2e46;
}
.menu-left {
  margin-left: 154px;
  margin-top: 5px;
  margin-bottom: 15px;
  /* margin-right: 1002px; */
}
.menu-right {
  padding-right: 149px;
}
