@media only screen and (min-width: 768px) {
  #cr-headline {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 78px;
  }
  .buttons {
    margin-top: 23px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
  }
  .button {
    width: 45px;
    height: 45px;
    left: 728px;
    top: 1925px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: white;
  }
}
@media only screen and (max-width: 425px) {
  #cr-headline {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .buttons {
    margin-top: 23px;
  }
  .button {
    width: 45px;
    height: 45px;
    left: 728px;
    top: 1925px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: white;
  }
}
