.footer {
  background-color: #e7e6e4;
}

.footer-div {
  text-align: start;
}
#logo {
  text-align: start;
}
.infos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contact-details {
  margin-top: 55px;
}
.contact-info {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #6d2e46;
  letter-spacing: 2px;
  margin-bottom: 0rem;
  margin-left: 22px;
}
#phone-num {
  text-decoration-line: underline;
  color: #6d2e46;
}
#quick-links {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  color: #6d2e46;
  margin-bottom: 32px;
}
#legal {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  color: #6d2e46;
  margin-bottom: 32px;
}
#book-session {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
#about-me {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  /* text-align: left; */
}
#contactUs {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
}
#disclaimer {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
#privacy {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
#terms {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
}
#rights {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
}

.footer-bottom {
  margin-top: 128px;
  padding-bottom: 29px;
}
#rights {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding-top: 56px;
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (max-width: 426px) {
  .footer {
    padding: 7%;
  }
  #contact-details {
    margin-top: 4%;
  }
  #quick-links {
    line-height: 16px;
    letter-spacing: 2px;
    color: #6d2e46;
    /* margin-bottom: 20px; */
  }
  #legal {
    margin-top: 20%;
    line-height: 16px;
    letter-spacing: 2px;
    color: #6d2e46;
    /* margin-bottom: 20px; */
  }
  #footer-div-2 {
    margin-top: 20%;
  }
  #footer-div-3 {
  }
}
